<!-- ABOUT -->
<fieldset class="about" style="margin-top: 12px;">
	<h2>About</h2>
	<p>Escape Plan is a tool for victims of domestic abuse to find a safe place for their party to stay while tensions are high. 
	<p>This nodejs app was created in November, 2017, using nodejs, express,
	   express-handlebars, and bodyParser. 
</fieldset>

