<!-- TITLE -->
<h1>Escape Plan</h1>
<br>



<!-- ABOUT -->
<br>
<fieldset class="about">
	<h2>About</h2>
	<p>Escape Plan is a tool for victims of domestic abuse to find a safe place for their party to stay while tensions are high. 
	<p>This one page app was created in November, 2017, using nodejs, express,
	   express-handlebars, and bodyParser. 
</fieldset>

