
<h1>Victim Page</h1>

<p>You have arrived at the Shelter's Location, please confirm your safe arrival.</p>
<form action="/victim?do=vicConfirm"method="post">
    <input type="submit" name="vicArrConfirm" value="Confirm Arrival at Shelter">
</form>