<style>
    textarea, select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #fefeff;
        border-radius: 4px;
        box-sizing: border-box;
    }
    textarea{
        height: 150px;
    }

    input[type=submit] {
        width: 100%;
        background-color: #af1c62;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

    input[type=submit]:hover {
        background-color: #a53680;
    }

    div {
        border-radius: 5px;
        background-color: #ff56cc;
        padding: 20px;
    }
</style>

{{#if result}}
    {{#each result}}


        <h3>Thank you for using Escape Plan!</h3>
        <div>
            Please take a moment to fill out the survey to help us provide the best service possible.
            <div>
                <form id="vicSurvey" action="/"method="post">
                    <label>Did you feel comfortable with {{this.fname}} {{this.lname}}?</label>
                    <select id="approval" name="approval" form="vicSurvey">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select><br>
                    <label>Do you have any comments about your volunteer or about your experience as a whole?</label>
                    <label id="charCount" style="float: right; display: inline">Character Remaining: 255/255</label>
                    <textarea id="comments"  name="comments" oninput="charCount()" form="vicSurvey"></textarea>
                    <input type="submit" value="Submit">
                </form>
            </div>
        </div>
    {{/each}}

{{/if}}


<script>
    function charCount(){
        var maxLength = 255;
        var currentLength = document.getElementById("comments").value.length;
        var charLeft = maxLength - currentLength;
        document.getElementById("charCount").innerHTML = "Characters Remaining: " + charLeft + "/255";
    }
</script>