

<h1> Volunteer Interface</h1>

<p>You have arrived at the Victim's Location, please confirm arrival to send a notification to the Victim.</p>
<form method="post">
	<input type="submit" name="volArrConfirm" value="Confirm Arrival at Victim's Location">
</form>