<!doctype html>
<html>
<head>
	<title>Escape Plan</title>
	<meta charset="UTF-8">
	<link rel='stylesheet' type='text/css' href='/css/styles.css'>
</head>
<body>
<img src="./images/epLogoSmall.png" />
<div class="topnav" style="max-width: 600px;">
    <a href="http://67.158.10.37:3000/">Home</a>
    <a href="http://67.158.10.37:3000/activate?startDemo=Begin+Escape+Plan+Demo">Demo</a>
    <a href="http://67.158.10.37:3000/adminLogIn?adminLogin=Admin+Interface">Admin Interface</a>
    <a href="http://67.158.10.37:3000/volunteerLogIn?volunteerLogin=Volunteer+Interface">Volunteer Interface</a>
    <a href="http://67.158.10.37:3000/shelterLogIn?shelterLogin=Shelter+Interface">Shelter Interface</a>
</div>


  {{{body}}}

</body>
</html>

